body{
  margin: auto;
  max-width: 720px;
}
.r{
  font-size: 90%;
}
.notes{
  font-size: .90em;
  padding: 10px;
  text-align: justify;
}
.content_slide{
  margin: auto;
  max-width: 500px;
  padding: 20px 10px 15px 15px;
  border-radius: 5px;
  border: 2px solid #aaaaaa;
  background-color: #FFFFFF;
}
.content_slide_wide{
  margin: auto;
  max-width: 720px;
  padding: 20px 10px 15px 15px;
  border-radius: 5px;
  border: 2px solid #aaaaaa;
  background-color: #FFFFFF;
}
@media print {
  h1 {page-break-before: always;}
  .content_slide {page-break-inside: avoid;}
}